:root{
 --primary-text-color:  #212121;
 --title-text-color:  #757575;
 --accent-color:  #2196F3;
 --button-color:  #F5F4FA;
 --blackcolor: #000000;
 --whitecolor: #ffffff;
 --2Acolor: #2F303A;
 --clients-logo: #AFB1B8;

 --items: 1;
 --indent: 30px;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--blackcolor);
    background-color: var(--whitecolor);
    font-size: 14px;
    letter-spacing: 0.03em;
}
address {
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* ***************** */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.link{
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* -----------------------------portfolio-header------------------------------ */
.portfolio-header{
    border: 1px solid #ECECEC
}
/* ------------------------------------------------------index main------------------------------------------------- */
.web {
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.studio{
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blackcolor);
}
/* all nav */
.navigation{
    display: flex;
    align-items: center;
}
/* ----------site nav---------- */
.navigation__list {
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navigation__list .navigation__item + .navigation__item {
    margin-left: 50px;
}
.navigation__link{
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover,
.navigation__link:focus{
    color: var(--accent-color);
}
.navigation__link.current{
    color: var(--accent-color);
}

.navigation__link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}



/* --------auth nav--------- */
.authnavigation{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.authnavigation .authnavigation__item + .authnavigation__item {
    margin-left: 50px;
}
.authnavigation__link{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;    
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authnavigation__link:hover,
.authnavigation__link:focus{
    color: var(--accent-color);
}
.authnabigation__icon{
    margin-right: 10px;
    fill: currentColor;
}
/* ------------------------------------------------------HERO------------------------------------------- */
.hero{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--2Acolor);
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../image/Img-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.hero__decision {
    width: 696px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--whitecolor);
    margin: 0 auto;
}
.hero__button {
    display: inline-block;
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--whitecolor);

    margin-top: 30px;
    padding: 10px 32px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
    background-color: #188CE8;
    color: var(--whitecolor);
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    
    transition: opacity 400ms, visibility 400ms;
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal__wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    
    background-color: var(--whitecolor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 300ms, ease-in-out 300ms, opacity 300ms ease-in-out 300ms;
}
.backdrop.is-hidden .modal__wrapper{
    transform: translate(-50%, -50%) scale(.4);
    opacity: 0;
}
.backdrop .modal__wrapper{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.modal__btn{
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;

    cursor: pointer;
}
.modal__btn:hover .close__icon{
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* --------------------modal form------------------- */
 .form__title{
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px ;

    color: var(--primary-text-color);
 }
 .form__group{
    position: relative;
 }
 .form__group{
    display: block;
    margin-bottom: 10px;
 }
 .form__group:focus-within .form__input,
 .form__group:hover .form__input{
    border-color: var(--accent-color);
 }
 .form__group:focus-within .form__icon,
 .form__group:hover .form__icon{
    fill: var(--accent-color);
 }
 .form__label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;   
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 4px;
    
    color: var(--title-text-color);
 }
 .form__input{
    width: 100%;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    color: var(--primary-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .form__icon{
    position: absolute;
    bottom: 12px;
    left: 12px;

    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 /* ------------------feedback-------------------- */
 .feedback{
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    outline: transparent;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .feedback:focus,
 .feedback:hover{
    border-color: var(--accent-color);
 }
 /* ---------------------checkbox-------------------- */
 .policy__group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
 }
 .checkbox__icon{
    width: 16px;
    height: 15px;
    margin-right: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid var(--primary-text-color);
    border-radius: 2px;
    fill: var(--whitecolor);
    background-color: var(--whitecolor);

    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .checkbox__icon:hover,
 .checkbox__icon:focus{
    outline-color: var(--accent-color);
 }
 .checkbox:checked + .checkbox__icon {
    background-color: var(--accent-color);
    fill: var(--blackcolor);
    outline: none;
 }
 .policy__desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: var(--title-text-color);
 }
 .policy__window{
    margin-left: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;

    color: var(--accent-color);
 }
 /* --------------------form button------------------ */
 .form__button{
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--whitecolor);

    padding: 10px 55px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .form__button:hover,
 .form__button:focus {
    background-color: #188CE8;
    color: var(--whitecolor);
}
/* ----------section work---------- */
.menu{
    padding: 94px 0;
}
.work__list{
    display: flex;
    gap: var(--indent);
}
.work__link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    width: 270px;
    height: 120px;

    background-color: var(--button-color);
    border-radius: 4px;
}

.h3-Benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.p-Benefits {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
/* -----------our-job-------------- */
.our-job{
    padding-bottom: 94px;
}
.our-item{
    position: relative;
}
.our-item .item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;

    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;

    color: var(--whitecolor);
    background-color: rgba(47, 48, 58, 0.8);
}
.work {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
    text-align: center;
}
.our-work{
    display: flex;
    gap: var(--indent);
}
.button-menu-p{
    margin-bottom: 34px;
}
/* ----------------team block------------------ */
.team-block {
    background-color: var(--button-color);
    padding: 94px 0;
}
.team{
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.tema-list{
    display: flex;
    gap: var(--indent);
}
.tema-list .item{
    background-color: var(--whitecolor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.name-position{
    padding-top: 30px;
    padding-bottom: 30px;
}
.name-team{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;   
    color: var(--primary-text-color);
}
.position{
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
/* --------------------icon clients-------------- */
.socials{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.socials-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--whitecolor);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus{
    background-color: var(--accent-color);
}
.socials-icon{
    fill: var(--clients-logo);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon{
    fill: var(--whitecolor);
}
/* -----------clients block------------ */
.clients-block{
    padding: 94px 0;
}
.our-clients{
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* -------logo-clients-------- */
.clients{
    display: flex;
    gap: var(--indent);
}
.clients-link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;

    border: 1px solid var(--clients-logo);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus{
    border-color: var(--accent-color);
}
.clients-icon{
    fill: var(--clients-logo);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon{
    fill: var(--accent-color);
}
/* -----------footer---------- */

.web-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.studio-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,
        19;
    letter-spacing: 0.03em;
    color: var(--whitecolor);
}
.footer-address{
    margin-top: 20px;
}
.address-list .item{
    margin-bottom: 9px;
}
.address-list .item:last-child{
    margin-bottom: 0;
}
.maps{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--whitecolor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.maps:hover,
.maps:focus{
    color: var(--accent-color);
}
.footer-number-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-number-link:hover,
.footer-number-link:focus {
    color: var(--accent-color);
}
.footer {
    padding: 60px 0;
    background-color: var(--2Acolor);
}
/* --------footer join--------- */
.flex{
    display: flex;
    align-items: baseline;

}
.flex .div-item{
    margin-right: 70px;
}
.flex .div-item:last-child{
    margin-right: 0px;
}
.footer-p{
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: var(--whitecolor);
}
.join-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.join-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover,
.join-link:focus{
    background-color: var(--accent-color);
}
.join-icon{
    fill: var(--whitecolor);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.join-link:hover .socials-icon,
.join-link:focus .socials-icon{
    fill: var(--whitecolor);
}
/* ----------------label email--------------- */

.div-item-send{
    margin-left: auto;
}
.input-email{   
    transform: translateY(-2%);
    width: 358px;
    height: 50px;

    padding: 15px 16px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    outline: transparent;
}
.label-email{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    justify-content: center;

    color: rgba(255, 255, 255, 0.6);
}
.submit-button{   
    width: 200px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--whitecolor);

    margin-left: 12px;
    border: none;
    border-radius: 4px;
}
.send-icon{
    
    transform: translateY(25%);
    margin-left: 10px;
    fill: var(--whitecolor);
}
/* ----------------------portfolio-------------- */

/* button--------------- */
.padding-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.button-section{
    margin-bottom: 50px;
}
.button-section .list{
    display: flex;
    justify-content: center;
}
.button-section .item{
    margin-right: 8px;
}
.button-section .item:last-child{
    margin-right: 0px;
}

.filter-button {
    cursor: pointer;
    padding: 6px 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--button-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 5px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--whitecolor);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* --------job-list---------- */
.job-list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.job-item{
    width: 370px;
}

.grid-item{
    flex-basis: calc((100% - var(--indent) * var(--items) - 1) / var(--items));
}

.job-sites{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
   
}
.job{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;   
    color: var(--primary-text-color);
}  
 .sites{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
 }
 .shadow-hover{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow-hover:hover,
.shadow-hover:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.foto-job{
    position: relative;
    overflow: hidden;
}
.shadow-hover:hover .paragraf,
.shadow-hover:focus .paragraf{
    transform: translateY(0);
}
.paragraf{
    content: "";
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.paragraf .item{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--whitecolor);
}
   